[submodule "GlassDB"]
	path = GlassDB
	url = https://github.com/ototoi/GlassDB.git
[submodule "ColorSystem"]
	path = ColorSystem
	url = https://github.com/nikq/ColorSystem
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
